<!DOCTYPE html>
    <head>
        <title></title>
        <link rel="stylesheet" href="{{cssbootstrapmincss}}">
    </head>
    <body>
        <script src="{{jsjqueryminjs}}"></script>
    </body>
</html>
